<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">
    
    <!-- Primary Meta Tags -->
<title>Markerless and facile volumetric sensor alignment.</title>
<meta name="title" content="Markerless and facile volumetric sensor alignment.">
<meta name="description" content="Code and pre-trained models for "Deep Soft Procrustes for Markerless Volumetric Sensor Alignment" (IEEE VR20)">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<!--<meta property="og:url" content="https://metatags.io/">-->
<meta property="og:title" content="Markerless and facile volumetric sensor alignment.">
<meta property="og:description" content="Code and pre-trained models for "Deep Soft Procrustes for Markerless Volumetric Sensor Alignment" (IEEE VR20)">
<meta property="og:image" content="https://github.com/VCL3D/StructureNet/blob/gh-pages/assets/images/concept.png?raw=true">
<meta property='og:url' content='https://vcl3d.github.io/StructureNet/>
<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<!--<meta property="twitter:url" content="https://metatags.io/">-->
<meta property="twitter:title" content="Markerless and facile volumetric sensor alignment.">
<meta property="twitter:description" content="Code and pre-trained models for "Deep Soft Procrustes for Markerless Volumetric Sensor Alignment" (IEEE VR20)">
<meta property="twitter:image" content="https://github.com/VCL3D/StructureNet/blob/gh-pages/assets/images/concept.png?raw=true">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <!-- <a id="skip-to-content" href="#content">Skip to the content.</a> -->
    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
      {% endif %}
      {% if site.show_downloads %}
        <a href="{{ site.github.model_url }}" class="btn">Download Model</a>        
      {% endif %}
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </main>
  </body>
</html>
